/* CSS */
.post-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .post-form-head {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style the file input */
  .image-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .image-upload-label {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
  }
  
  .image-upload-label:hover {
    background-color: #0056b3;
  }
  
  .caption {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .post-upload {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .post-upload:hover {
    background-color: #0056b3;
  }

  .newPostContainer{
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    gap: 2rem;
    position: relative;
  }
  